
@font-face {
    font-family: nds12;
    src: url(imgs/nds12/NDS12.ttf);
}

body {font-family: "nds12";
    font-size: 19px;
    color: white;
    text-align: right;
    background-color: black;
}

.button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 100%;
 
}



#playButton {
  background-color: rgb(255, 255, 255); 
  
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50%;
}

#playButton:hover {
  transition-duration: 0.2s;
  background-color: rgb(255, 255, 255);
  color: white;
  cursor: pointer;
  border-radius: 50%;
}


.ball {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
      0 0 30px 15px #fff,
      0 0 50px 30px rgb(255, 113, 255),
      0 0 700px 45px #0ff;
      
  }

 .ball1 {
    width: 50px;
    height: 50px;
  }

 .ball2 {
    width: 25px;
    height: 25px;
  }

 .ball3 {
    width: 13px;
    height: 13px;
  }

 .ball4 {
    width: 10px;
    height: 10px;
  }
