.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@font-face {
  font-family:"player2" ;
  src: url(imgs/Press_Start_2P/PressStart2P-Regular.ttf);
}

@font-face {
  font-family:"Plex_Mono" ;
  src: url(imgs/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family:"Plex_Mono_bold" ;
  src: url(imgs/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

h1 {font-family: "player2";}

h5 {font-family: 'Plex_Mono';
  font-size: 16px;}
  
.wrapper {overflow: auto;}

#main {margin-left: 0px;}

@media screen and (min-width: 480px){
#leftsidebar {width: 200px; float: left;}
#main {margin-left: 216px;}
#main {margin-right: 216px;}
}


::selection {
  background-color: rgba(255, 162, 0, 0.785);
  color:#0000FF
}

body {font-family: 'plex_mono'}

marquee {font-size: 15px;}

@media screen and (max-width: 600px) {
body {
font-size: 12px;

}}


@media screen and (max-width: 600px) {
  img {
    width: 90%;
    height: auto;
  }}


.flexright {
    display: flex;
    flex-wrap:wrap
  }
  
  .flexright > div {
    width: 500px;
    margin: 1px;
    text-align: right;
    line-height: 75px;
    font-family: 'plex_mono';
    font-size: 15px;
    color:black
  }

.flexleft {
    display: flex;
    flex-wrap:wrap;
  }
  
  .flexleft > div {
    width: 500px;
    margin: 1px;
    text-align: left;
    line-height: 75px;
    font-family:'plex_mono';
    font-size: 15px;
    color:black
  }

.flexcenter {
    display: flex;
    flex-wrap:wrap;
  }
  
  .flexcenter > div {
    width: 500px;
    margin: 1px;
    text-align: center;
    line-height: 75px;
    font-family:'plex_mono';
    font-size: 15px;
    color:black
   
  }

    #box {
      position: absolute;
      top: 1075px;
      left: 435px;
      z-index: 9;
      background-color: #f1f1f1;
      text-align: center;
    }
    
    #boxheader {
      padding: 10px;
      cursor: move;
      z-index: 10;
      box-shadow: 5px 5px 12px #ff8c00;
      border-style:inset;
      background-color: white;
      display: inline;
      margin:0;
      font-size: 14px;
      font-family:"Plex_Mono";
      color: #ff6a00;

    }

    #box2 {
      position: absolute;
      top: 1175px;
      left: 604px;
      z-index: 9;
      background-color: #f1f1f1;
      text-align: center;
    }
    
    #boxheader2 {
      padding: 10px;
      cursor: move;
      z-index: 10;
      box-shadow: 5px 5px 12px #ff8c00;
      border-style:inset;
      background-color: white;
      display: inline;
      margin:0;
      font-size: 14px;
      font-family:"Plex_Mono";
      color: #ff6a00;

    }
   
    button {font-family: "plex_mono_bold";
      font-size: 16px;
      padding: 5px;

      }